[Desktop Entry]
Encoding=UTF-8
Version=0.9.5
Type=Application
Name=Qontacts
Exec=/usr/bin/qontacts
Icon=qontacts
X-HildonDesk-ShowInToolbar=true
X-Window-Icon=qontacts
X-Window-Icon-Dimmed=qontacts
